
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
       
body{
    background-color: rgb(10, 2, 0);}
    .bto{
        height: 100vh;
        font-size: 5rem;
    padding: 5rem 2rem;
    border-radius: .5rem;
    display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column; 
    }
    button{
        background-color: goldenrod;
        color: black;
        font-size: 5rem
    }
